{{ form_start(departmentForm) }}
    {{ form_row(departmentForm.type, {'label' : 'Denumire departanent'}) }}

<button type = "submit" class="btn btn-action" formnovalidate>{{ buttonText }}</button>
{{ form_end(departmentForm) }}