{% extends '/activity/formLayout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Modificare activitate efectuata:</h1>

                {{ include ('/activity/_form.html.twig', {'buttonText': 'Modifică'})}}
            </div>
        </div>
    </div>
{% endblock %}