{% extends '/activity/formLayout.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1>Introduceti activitate efectuata:</h1>

                {{ include ('/activity/_form.html.twig', {'buttonText': 'Adaugă'})}}
            </div>
        </div>
    </div>
{% endblock %}