{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>test</h1>

                {{ include ('/test/_form.html.twig', {'buttonText': 'Test'})}}
            </div>
        </div>
    </div>
{% endblock %}