{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Resetare parolă:</h1>

                {{ include ('/admin/staff/_formPasswordReset.html.twig', {'buttonText': 'Modifică'})}}
            </div>
        </div>
    </div>
{% endblock %}